#menu .arrow {
  float: right;
  line-height: 1.42857;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

#menu .glyphicon.arrow:before {
  content: "\e079";
}
#menu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

#menu .fa.arrow:before {
  content: "\f104";
}
#menu .active > a > .fa.arrow:before {
  content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

#menu .ion.arrow:before {
  content:"\f3d2"
}
#menu .active > a > .ion.arrow:before {
    content:"\f3d0";
}
#menu .plus-times {
  float: right;
}
#menu .fa.plus-times:before {
  content: "\f067";
}
#menu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu .plus-minus {
  float: right;
}
#menu .fa.plus-minus:before {
  content: "\f067";
}
#menu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
#menu .collapse {
  display: none;
}
#menu .collapse.in {
  display: block;
}
#menu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
}
